
@use '@angular/material' as mat;
@import './styles/variables.scss';
@import './styles/main.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;


// Tema de Angular Material (después de tailwind)
@include mat.core();

//Paleta PRIMARY personalizada - Amarillo (#FFC600)
$pokemon-primary: mat.define-palette((
  50:  #e3f2fd,
  100: #bbdefb,
  200: #90caf9,
  300: #64b5f6,
  400: #42a5f5,
  500: #185a7d, // tono base
  600: #156083,
  700: #0e4660,
  800: #09394f,
  900: #04283b,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50:  black,
    100: black,
    200: black,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: white,
    A400: white,
    A700: white,
  )
));

//Paleta ACCENT personalizada - Azul (#185A7D)
$pokemon-accent: mat.define-palette((
  50:  #fff8e1,
  100: #ffecb3,
  200: #ffe082,
  300: #ffd54f,
  400: #ffca28,
  500: #ffc600, // tono base
  600: #ffb300,
  700: #ffa000,
  800: #ff8f00,
  900: #ff6f00,
  A100: #ffe57f,
  A200: #ffd740,
  A400: #ffc400,
  A700: #ffab00,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
    A100: black,
    A200: black,
    A400: black,
    A700: black,
  )
));

//WARN estándar
$pokemon-warn: mat.define-palette(mat.$red-palette);

$pokemon-theme: mat.define-light-theme((
  color: (
    primary: $pokemon-primary,
    accent: $pokemon-accent,
    warn: $pokemon-warn,
  )
));

@include mat.all-component-themes($pokemon-theme);

