
//color
$primary-color:#185A7D;
$secondary-color:#FFC600;
$info-color:#868686;
$text-blue: #2C85BC;
$base-color:#ffffff;
$hover-color:#E7EFF5;
//size
$fontsize-titulo:33px;
$fontsize-subtitulo:18px;
$fontsize-info:15px;
